*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.page{
	width: 1366px;
	height: 4500px;
	margin: auto;
	float: left;
}
.header{
	width: 1349px;
	height: 32px;
	background-color: #000;
	float: left;
}
.header ul{
	width: 1140px;
	height: 32px;
	margin-left: 100px;
	float: left;
}
.header li{
	width:279px;
	height:17px;
	float: left;
	color: #fff;
	font-size: 13px;
	text-align: center;
	border-right: 1px solid #464444;
	padding: 7px 0;
}
.header_bot{
	width: 1349px;
	height: 125px;
	float: left;
	padding: 25px 0;
}
.header_bot_in{
	width: 1230px;
	height: 60px;
	float: left;
	margin-left: 60px;
	margin-top: 5px;
}
.search{
	width: 405px;
	height: 50px;
	float: left;
}
.search .textbox{
	width: 335px;
	height: 50px;
	border: 1px solid #ddd;
	font-size: 16px;
	color: #ddd;
}
.search .submit{
	width: 60px;
	height: 50px;
	border: 1px solid #2FDAB8;
	background-color: #2FDAB8;
	background-image: url(../images/search.png);
}
.hmin{
	width: 405px;
	height: 58px;
	float: left;
	margin-left: 10px;
	text-align: center;
	color: #333;
	font-size: 50px;
	letter-spacing: 2px;
	font-family:'Century Gothic', sans-serif;
	padding-right: 15px;
	padding-left: 15px;
}
.hmin span{
	background: #000;
    padding:6px 20px;
    font-weight: bold;
    color: #fff;
}
.share{
	width: 330px;
	height: 52px;
	float: left;
	margin-left: 50px;
	margin-top: 7px;
}
.share span{
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2px;
	float: left;
	padding-top: 25px;
	color: #333339;
}
.share ul{
	float: left;
	margin-left: 10px;
	margin-top: 18px;
}
.share li{
	width: 30px;
	height: 30px;
	float: left;
	border: 1px solid green;
	margin-left: 15px;
}
.Con_top{
	width: 1349px;
	height: 75px;
	float: left;
	background-color: #000;
} 
.Con_top-in{
	width: 1170px;
	height: 75px;
	float: left;
	margin-left: 90px;
}
.Con_top-in ul{
	width: 840px;
	height: 75px;
	float:left; 
}
.Con_top-in li{
	width: 110px;
	padding-top: 25px;
	height: 75px;
	float: left;
	color: #FFF;
	font-size: 15px;
	text-align: center;
	letter-spacing: 2px;
	margin-left: 33px;
}
.Con_top-in li:nth-child(1){
	margin-left: 1px;
	border-bottom:5px solid #2FDAB8 ;
	width: 100px;
}
.Con_top-in li:nth-child(4){
	width: 125px;
}
.spbq{
	width: 110px;
	height: 75px;
	float: left;
	position: relative;
}
.biankuang{
	width: 1px;
	height: 1px;
	position: absolute;
	z-index: 99;
	border-radius:10px;
}
.biankuang_2 {
	width: 0px;
	bottom:-1px;
	left: 0px;
	border-top: 5px solid #2FDAB8;
}
.shop{
	float: right;
	width: 240px;
	height: 75px;
	background-color: #2FDAB8;
}
.piclimit{
	overflow:hidden;
    width:1349px;
    height:500px;
    margin:auto;
    position:relative;
    float: left;
}
.pichold img{
	width:1352px;
	height:500px;
	float:left;
}    
.pichold{
	width:9443px;
	position:absolute;
	top:0;
}
.btn span{
	width:60px;
	height:60px;
	position:absolute;
	text-align:center;
	line-height:60px;
	top:50%;
	margin-top:-30px;
	font-size:30px;
	color:rgba(255,255,255,0.7);
	cursor:pointer;
}
.btn span:nth-child(1){left:100px;}
.btn span:nth-child(2){right:100px;}
.btn span:nth-child(1):hover{
	color: #fff;
}
.btn span:nth-child(2):hover{
	color: #fff;
}
.btnjump{
	position:absolute;
    bottom:65px;
    left:50%;
    margin-left:-50px;
}
.btnjump  li{
	float:left;
    display:block;
    width:10px;
    height:10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    margin:0 5px 0 5px;
    border-radius: 10px;
    cursor:pointer;
}
.classify{
	width: 1349px;
	height: 377px;
	float: left;
	margin-top: 80px;
}
.prefer{
	width: 1170px;
	height: 297px;
	float: left;
	margin-left: 90px;
}
.Peo{
	width: 554px;
	height: 297px;
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}
.Peo, .Peo:after, .Peo:before { border-box; box-sizing: border-box; }
.Peo figure {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width:554px;
	height: 297px;
}
.Peo figure img {
	position: relative;
	display: block;
	min-height: 100%;
}
.Peo figure figcaption {
	padding: 3em;
	color: #fff;
	font-size: 1.25em;
	letter-spacing: 5px;	
}
.Peo figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 15px solid rgba(255, 255, 255, 0.15);
}
.Peo figure h2 {
	font-weight: 300;
}
.Peo figure h2,
.Peo figure p {
	margin: 0;
}
.Peo figure p {
	letter-spacing: 14px;
	font-size: 18px;
}
figure.effect-roxy img {
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
}
figure.effect-roxy figcaption::before {
	position: absolute;
	top: 35px;
	right: 35px;
	bottom: 35px;
	left: 35px;
	border: 4px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);
}
figure.effect-roxy figcaption {
	text-align: right;
}
figure.effect-roxy h2 {
	padding: 35px 0 10px 0;
}
figure.effect-roxy p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
}
figure.effect-roxy:hover img {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.save{
	width: 1349px;
	height: 450px;
	float: left;
	background-color: #2FDAB8;
}
.Img{
	width: 675px;
	height: 450px;
	float: left;
}
.sa_right{
	width: 610px;
	height: 360px;
	float: left;
	margin-top: 80px;
	background-color: #fff;
	box-shadow: 5px 0px 10px #19a98c;
}
.savetext{
	width: 560px;
	height: 300px;
	float: left;
	margin: 20px 25px;
}
.savetext h3{
	height: 24px;
	font-size: 1.4em;
	color: #212121;
	letter-spacing: 4px;
	font-weight: 700;
}
.savetext p{
	margin: 1em 0 2em;
	color: #545454;
	line-height: 2em;
	letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.savetext .saveinin{
	width: 170px;
	height: 110px;
	float: left;
    margin-left: 20px;
    border: 1px solid red;
    text-align: center;
}
.what{
	width: 1349px;
	height: 805px;
	float: left;
}
.what_Con{
	width:1140px;
	height: 710px;
	float: left;
	margin-left: 105px;
	margin-top: 45px;
}
.what_Con h3{
	width: 1140px;
	height: 35px;
	float: left;
	text-align: center;
	font-size: 42px;
	font-weight: 700;
	letter-spacing: 3px;
	color: #000;
	margin-bottom: 1em;
	text-transform: uppercase;
}
.what_Con h3 span{
	font-weight:100;
	font-family:'Century Gothic', sans-serif;
}
.flat{
	width: 1349px;
	height: 340px;
	float: left;
	border-top: 2px solid rgba(0,0,0,0.1);
	box-shadow: 1px -1px 7px #DBDBDB;
	background: rgba(0,0,0,0.1);
}
.multi{
	width: 674px;
	height: 337px;
	float: left;
}
.New{
	width: 1349px;
	height: 1120px;
	float: left;
}
.Newgoods{
	width: 1170px;
	height: 1012px;
	float: left;
	margin-top: 40px;
	margin-left: 90px;
}
.Newgoods h3{
	width: 1170px;
	height: 35px;
	float: left;
	text-align: center;
	font-size: 42px;
	font-weight: 700;
	letter-spacing: 3px;
	color: #000;
	margin-bottom: 1em;
	text-transform: uppercase;
}
.Newgoods h3 span{
	font-weight:100;
	font-family:'Century Gothic', sans-serif;
}
#tab{
 	width: 1140px;
 	height:915px;
 	float: left;
 	margin-left: 15px; 	
}  
#tab span{
	width:284px;
	height:50px;
	float:left;
	text-align:center;
	line-height:24px;
	display: inline-block;
	padding: 12px 20px;
	cursor: pointer;
	color: #2A2B2F;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#tab div{
    clear:both;
	width:1140px;
	height:865px;
	float: left;
	display:none;
}
#tab .active{
    background-color:#FC636B;
}
.active::before {
    content: '';
    position: relative;
    width: 0;
    height: 0;
    border-top: 10px solid #fc636b;
    border-left: 10px solid rgba(69, 42, 21, 0);
    border-right: 10px solid rgba(199, 57, 57, 0);
    left: 12%;
	top: 165%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
#tab div ul{
	width: 1140px;
	height: 390px;
	float: left;
	margin-top: 50px;
}
#tab div li{
	width: 250px;
	height: 390px;
	float: left;
	list-style: none;
	margin-left: 28px;
	box-shadow: 0px 0px 15px 0px #D6D6D6;
}
#tab div .goods{
	width: 250px;
	height: 240px;
	float: left;
}
.text{
	width: 250px;
	height: 140px;
	float: left;
}
.goods .newtop{
	background: #fc636b none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	padding: 0 10px 1px;
	float: right;
}
.goods img{
	padding: 20px 50px 52px;
}
.text .name{
	width: 250px;
	height: 19px;
	float: left;
	font-size: 18px;
	color: #fc636b;
	text-decoration: none;
	font-weight: 600;
    text-align: center;
    margin-top: 15px;
}
.text .price{
	width: 250px;
	height: 20px;
	float: left;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
	font-size: 18px;
	color: #000;
	text-decoration: none;
	margin-top: 15px;
}
.text .price del{
	color: #908e8e;
	margin-left: 10px;
	letter-spacing: 1px;
	font-weight: lighter;
	text-decoration: line-through;
}
.text .ADD{
	width: 190px;
	height: 30px;
	float: left;
	text-align: center;
	margin-top: 15px;
	color: #fff;
	margin-left: 30px;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 600;
	padding: 5px;
	background-color: #2FDAB8;
}
.text .ADD:hover{
	text-decoration: none;
}
.sale{
	width: 1349px;
	height: 380px;
	float: left;
	margin-top: 10px;
	background-image: url(../images/banner3.jpg);
}
.sale h6{
	width: 1140px;
	height: 149px;
	float: left;
	margin-left: 105px;
	margin-top: 20px;
	font-size: 3em;
	text-align: center;
	letter-spacing: 5px;
	color: #fff;
	font-weight: 700;
	padding-top: 2em;
	margin-bottom: 0.5em;
}
.sale a{
	width: 140px;
	height: 39px;
	float: left;
	text-align: center;
	margin-top: 20px;
	color: #fff;
	margin-left: 590px;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 7px;
	background-color: #2FDAB8;
}
.sale a:hover{
	color: #fff;
	text-decoration: none;
}